<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-productList.css">

<body>

    <%- include("../partials/header.ejs")%>

    <main class="main-productList">

        <%- include("../partials/menuMediaQuery.ejs")%>

        <section class="header-filter">

            <!--TITULO DEL MAIN-->
            <% for (let i = 0; i < 1; i++) { %>
            <h4 class="header-list"><%=categories[id-1].name%></h4>
            <% } %>

            <!--ORDENAR Y FILTRO-->

            <form method="GET" action= "/productos/<%=id%>" class="order-filter" id="filter-order">
                <div class="order">
                    <label>Ordenar por:</label>
                    <select name="order">
                        <option <%= order == "name" ? "selected" : null%> value="name">Nombre</option>
                        <option <%= order == "price" ? "selected" : null%> value="price">Precio</option>
                    </select>
                </div>
            </form>

            </section>

                        <!--TODOS LOS PRODUCTOS-->

                        <section class="list-products">
                            <% for(let i= 0; i < products.length; i++){ %>
                            <article class="product-article">
                                <a href="/productos/detalleproducto/<%= products[i].id%>"> <img src="../img/products/<%= products[i].image%>" alt=<%= products[i].name%>></a>
                                <div class="product-description">
                                    <a href="/productos/detalleproducto/<%= products[i].id%>" class="product-name"><%= products[i].name%></a>
                                    <p class="product-price">$<%= products[i].price%></p>
                                </div>
                            </article>
                            <% } %>
                            <div class="all-products">
                                <a href="/productos">MOSTRAR MÁS PRODUCTOS</a>
                            </div>
                        </section>

            <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
            <figure class="banner-carrousel-bottom">
                <img src="../img/banner-bottom.gif" alt="banner-bottom">
            </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    <script src="/js/filter.js"></script>
    
</body>
</html>