<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs")%>

    <main class="main-content">

        <%- include("../partials/menuMediaQuery.ejs")%>

        <!-- BANNER (FUTURO CARROUSEL)-->
        <div class="main-products">
            <figure class="banner-carrousel">
                <img src="img/banner-galeria.gif" alt="banner-principal">
            </figure>

            <!--CATEGORIAS DE PRODUCTOS-->
            <section>
                <ul class="categories">
                    <li>
                        <a href="/productos/1">CUIDADO FACIAL</a>
                    </li>
                    <li>
                        <a href="/productos/2">CUIDADO CAPILAR</a>
                    </li>
                    <li>
                        <a href="/productos/5">COMBOS</a>
                    </li>
                    <li class="categories-hidden">
                        <a href="/productos/6">ACCESORIOS</a>
                    </li>
                    <li class="categories-hidden">
                        <a href="/productos/4">¡SALE!</a>
                    </li>
                </ul>
            </section>

            <!--PRODUCTOS DESTACADOS-->
            <section class="best-products">
                <% for(let i= 0; i < products.length; i++){ %>
                <article class="product-article">
                    <a href="/productos/detalleproducto/<%= products[i].id%>"> <img src="img/products/<%= products[i].image%>" alt=<%= products[i].name%>></a>
                    <div class="product-description">
                        <a href="/productos/detalleproducto/<%= products[i].id%>" class="product-name"><%= products[i].name%></a>
                        <p class="product-price">$<%= products[i].price%></p>
                    </div>
                </article>
                <% } %>
                <div class="all-products">
                    <a href="/productos">VER TODOS LOS PRODUCTOS</a>
                </div>
            </section>

            <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
            <figure class="banner-carrousel-bottom">
                <img src="img/banner-bottom.gif" alt="banner-bottom">
            </figure>

    </main>

    <%- include("../partials/footer.ejs")%>

</body>

</html>