<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-admin.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- TABLERO ADMINISTRADOR -->
    <main class = "main-admin">

        <%- include("../partials/menuMediaQuery.ejs")%>

         <section class = "admin-products">
           <h1 class = "encabezado-admin">Administrador de productos</h1>
           <div class = "add-product">
             <a href="/administrador/crearproducto">Agregar producto</a>
          </div>
          <table>
              <thead>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Ver</th>
                  <th>Editar</th>
                  <th>Borrar</th>
              </thead>
              <tbody>
                  <%products.forEach(product=>{ %>
                <tr>
                    <td><%=product.id%></td>
                    <td><%=product.name%></td>
                    <td><a href="/admin/detailProduct/<%= product.id%> "> Detalle </a></td>
                    <td><a href="/admin/editProduct/<%= product.id%> "> Editar</a></td>
                    <td><a href="/admin/delete/<%= product.id%>">Borrar</a></td>
                </tr>
                <%});%>
              </tbody>
          </table>


         </section>

                <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
                <figure class="banner-carrousel-bottom">
                    <img src="img/banner-bottom.gif" alt="banner-bottom">
                </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>