<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-editProduct.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO EDITAR PRODUCTO -->
    <main class="main-editproduct">

        <%- include("../partials/menuMediaQuery.ejs")%>
        
    
        <section class="encabezadoEdicion">
            <h1 class="encabezado"> Editar Producto</h1>
        </section>
        <section class="editProduct">
            <form id="form" class="editform" action="/administrador/editarproducto/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="stylediv" id= "group-name">
                    <strong><label for="name">Modificar Nombre</label></strong>
                    <div class = "input-i">
                    <input type="text" id="name" name="name" placeholder="Ingresar nuevo nombre" class="camp-edit" value = "<%= product.name%>">
                    <% if(locals.errors && errors.name){%>
                        <p class="error">
                          <%= errors.name.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                     </div>
                </div>
                <div class="stylediv" id= "group-description">
                    <strong><label for="description"> Modificar Descripción</label></strong>
                    <div class = "input-i">
                    <textarea name="description" class="camp-edit" value = "<%= product.description%>"> </textarea>
                    <% if(locals.errors && errors.description){%>
                        <p class="error">
                          <%= errors.description.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                     </div>
                </div>
                <div class="stylediv" id= "group-imagen">
                    <strong><label for="imagen">Agregar y/o Modificar Imagenes</label></strong>
                    <figure>
                        <img class="img-editproduct" src="/img/products/<%= product.image%>" alt="<%= product.name%>">
                    </figure>
                    <input type="hidden"  name="oldImagen"  value="<%= product.image%>">
                    <input class="camp-edit" type="file" id="imagen" name="imagen" accept=".jpg" value = " ">
                    <% if(locals.errors && errors.imagen){%>
                        <p class="error">
                          <%= errors.imagen.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                </div>
             
                <div class="stylediv" id= "group-category">
                    <strong><label for="category">Modificar Categoría</label></strong>
                    <div class = "input-i">
                    <select name="category">
                        <% for (let i = 0; i < categories.length; i++) { %>
                            <% if (categories[i].id == product.category_id) { %>
                                <option value="<%=categories[i].id%>" selected>
                                    <%= categories[i].name%>
                                </option>
                            <% } else { %>
                                <option value="<%=categories[i].id%>">
                                    <%= categories[i].name%>
                                </option>
                            <% } %>
                        <% } %>
                    </select>
                    <% if(locals.errors && errors.category){%>
                        <p class="error">
                          <%= errors.category.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                     </div>
                </div>

                <div class="stylediv" id= "group-quantity">
                    <strong><label for="quantity">Modificar Stock</label></strong>
                    <div class = "input-i">
                    <input type="number" id="quantity" name="quantity" placeholder="Ingrese nuevo Stock" class="camp-edit" value = "<%= product.quantity%>">
                    <% if(locals.errors && errors.quantity){%>
                        <p class="error">
                          <%= errors.quantity.msg %>
                        </p>
                        <%}%>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>
                             
                <div class="stylediv" id= "group-price">
                    <strong><label for="price"> Modificar Precio</label></strong>
                    <div class = "input-i">
                    <input type="number" id="price" name="price" placeholder="$" class="camp-edit" value = "<%= product.price%>">
                    <% if(locals.errors && errors.price){%>
                        <p class="error">
                          <%= errors.price.msg %>
                        </p>
                        <%}%>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>

                <div class="stylediv center">
                    
                    <input type="submit" value="Actualizar" class="button"> 

                </div>


            </form>

        </section>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>