<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-editProduct.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO EDITAR PRODUCTO -->
    <main class="main-editproduct">

        <%- include("../partials/menuMediaQuery.ejs")%>
        
    
        <section class="encabezadoEdicion">
            <h1 class="encabezado"> Editar Producto</h1>
        </section>
        <section class="editProduct">
            <form class="editform" action="/administrador/editarproducto/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="stylediv">
                    <strong><label for="name">Modificar Nombre</label></strong>
                    <input type="text" id="name" name="name" placeholder="Ingresar nuevo nombre" class="camp-edit"required value = "<%= product.name%>">

                </div>
                <div class="stylediv">
                    <strong><label for="description"> Modificar Descripción</label></strong>
                    <textarea name="description" class="camp-edit" required value = "<%= product.description%>"> </textarea>
                    
                </div>
                <div class="stylediv">
                    <strong><label for="imagen">Agregar y/o Modificar Imagenes</label></strong>
                    <figure>
                        <img class="img-editproduct" src="/img/products/<%= product.image%>" alt="<%= product.name%>">
                    </figure>
                    <input type="hidden"  name="oldImagen"  value="<%= product.image%>">
                    <input class="camp-edit" type="file" id="imagen" name="imagen" accept=".jpg" value = " ">
                     
                </div>
             
                <div class="stylediv">
                    <strong><label for="category">Modificar Categoría</label></strong>
                    <select name="category">
                        <% for (let i = 0; i < categories.length; i++) { %>
                            <% if (categories[i].id == product.category_id) { %>
                                <option value="<%=categories[i].id%>" selected>
                                    <%= categories[i].name%>
                                </option>
                            <% } else { %>
                                <option value="<%=categories[i].id%>">
                                    <%= categories[i].name%>
                                </option>
                            <% } %>
                        <% } %>
                    </select>    

                </div>

                <div class="stylediv">
                    <strong><label for="quantity">Modificar Stock</label></strong>
                    <input type="number" id="quantity" name="quantity" placeholder="Ingrese nuevo Stock" class="camp-edit" required value = "<%= product.quantity%>">

                </div>
                             
                <div class="stylediv">
                    <strong><label for="price"> Modificar Precio</label></strong>
                    <input type="number" id="price" name="price" placeholder="$" class="camp-edit" required value = "<%= product.price%>">
                </div>

                <div class="stylediv center">
                    
                    <input type="submit" value="Actualizar" class="button"> 

                </div>


            </form>
            
        </section>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>