<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-newProduct.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO NUEVO PRODUCTO -->
    <main class="main-newproduct">

        <%- include("../partials/menuMediaQuery.ejs")%>
    
        <section class="encabezadonewproduct">
            <h1 class="encabezado">¿Qué vas a vender?</h1>
        </section>
        <section class="newProduct">
            <form id="form" class="formularioproducto" action="/administrador/crearproducto" method="POST" enctype="multipart/form-data">
                <div class="stylediv" id= "group-name">
                    <strong><label for="name">Nombre del producto</label></strong>
                    <div class = "input-i">
                    <input type="text" id="name" name="name" placeholder="Nombre del Producto" class="camp">
                    <% if(locals.errors && errors.name){%>
                        <p class="error">
                          <%= errors.name.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>
                <div class="stylediv" id= "group-description">
                    <strong><label for="description">Descripción del Producto</label></strong>
                    <div class = "input-i">
                    <textarea name="description" class="camp"> </textarea>
                    <% if(locals.errors && errors.description){%>
                        <p class="error">
                          <%= errors.description.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>
                <div class="stylediv"id= "group-imagen">
                    <strong><label for="imagen">Imagen del Producto</label></strong>
                    <input class="camp" type="file" id="imagen" name="imagen" accept=".jpg">
                    <% if(locals.errors && errors.imagen){%>
                        <p class="error">
                          <%= errors.imagen.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                </div>
             
                <div class="stylediv" id= "group-category">
                    <strong><label for="category">Categoría</label></strong>
                    <div class = "input-i">
                    <select name="category">
                        <option value="#" selected disabled>Seleccione una opcion...</option>
                        <% for (let i = 0; i < categories.length; i++) { %>
                            <option value="<%=categories[i].id%>">
                                <%= categories[i].name%>
                            </option>
                        <% } %>
                    </select> 
                    <% if(locals.errors && errors.category){%>
                        <p class="error">
                          <%= errors.category.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>

                <div class="stylediv" id= "group-quantity">
                    <strong><label for="quantity">Stock</label></strong>
                    <div class = "input-i">
                    <input type="number" id="quantity" name="quantity" placeholder="Cantidad en Stock" class="camp">
                    <% if(locals.errors && errors.quantity){%>
                        <p class="error">
                          <%= errors.quantity.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                        </div>
                </div>
                             
                <div class="stylediv" id= "group-price">
                    <strong><label for="price">Precio</label></strong>
                    <div class = "input-i">
                    <input type="number" id="price" name="price" placeholder="$" class="camp">
                    <% if(locals.errors && errors.price){%>
                        <p class="error">
                          <%= errors.price.msg %>
                        </p>
                        <% } %>
                        <i class="fire fas fa-fire"></i>
                        <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="stylediv center">
                    <input type="reset" value="Borrar" class="button">
                    <input type="submit" value="Crear Producto" class="button"> 
                </div>


            </form>
            
        </section>
        
    </main>

    <%- include("../partials/footer.ejs")%>
    <script src="/js/newProduct.js"></script>
    
</body>

</html>