<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-register.css">

<body>
    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO REGISTRO -->
    <main class="main-register">

        <%- include("../partials/menuMediaQuery.ejs")%>
        
        <section class="encabezadoregistro">
            <h1 class="encabezado"> Registrarme</h1>
        </section>
        <section class="registro">
            <form id="form" class="formularioregistro" action="/usuarios/registro" method="POST" enctype="multipart/form-data">

                <div class="estilodiv" id= "group-first_name">
                    <label for="first_name">Nombre</label>
                    <div class = "input-i">
                    <input type="text" id="first_name" name="first_name" placeholder="Indique su nombre" value="<%= typeof old != 'undefined' ? old.first_name : '' %>" class="formatocampo">
                    <% if(locals.errors && errors.first_name){%>
                        <p class="error">
                          <%= errors.first_name.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="estilodiv" id= "group-last_name">
                    <label for="last_name">Apellido</label>
                    <div class = "input-i">
                    <input type="text" id="last_name" name="last_name" placeholder="Indique su apellido" class="formatocampo" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                    <% if(locals.errors && errors.last_name){%>
                        <p class="error">
                          <%= errors.last_name.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="estilodiv" id= "date">
                    <label for="date">Fecha de Nacimiento</label>
                    <input type="date" id="date" name="date" class="formatocampo" value="<%= typeof old != 'undefined' ? old.date : '' %>">
                    <% if(locals.errors && errors.date){%>
                        <p class="error">
                          <%= errors.date.msg %>
                        </p>
                     <%}%>
                </div>

                <div class="estilodiv" id= "group-phone">
                    <label for="phone">Teléfono</label>
                    <div class = "input-i">
                    <input type="number" id="phone" name="phone" placeholder="Indique su N° de teléfono" class="formatocampo" value="<%= typeof old != 'undefined' ? old.phone : '' %>">
                    <% if(locals.errors && errors.phone){%>
                        <p class="error">
                          <%= errors.phone.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="estilodiv" id= "avatar">
                    <label for="avatar">Foto de Usuario</label>
                    <input type="file" id="avatar" name="avatar" accept=".jpg" class="formatocampo">
                    <% if(locals.errors && errors.avatar){%>
                        <p class="error">
                          <%= errors.avatar.msg %>
                        </p>
                     <%}%>
                </div>

                <div class="estilodiv" id= "group-email">
                    <label for="email">Email</label>
                    <div class = "input-i">
                    <input type="email" id="email" name="email" placeholder="Ej: tunombre@email.com" class="formatocampo" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                    <% if(locals.errors && errors.email){%>
                        <p class="error">
                          <%= errors.email.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="estilodiv" id= "group-password">
                    <label for="password">Contraseña</label>
                    <div class = "input-i">
                    <input type="password" id="password" name="password" class="formatocampo">
                    <% if(locals.errors && errors.password){%>
                        <p class="error">
                          <%= errors.password.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="estilodiv" id= "group-password2">
                    <label for="password2">Confirmar contraseña</label>
                    <div class = "input-i">
                    <input type="password" id="password2" name="password2" class="formatocampo">
                    <% if(locals.errors && errors.password2){%>
                        <p class="error">
                          <%= errors.password2.msg %>
                        </p>
                     <%}%>
                     <i class="fire fas fa-fire"></i>
                     <i class="tree fas fa-tree"></i>
                    </div>
                </div>

                <div class="terms-newsletter">
                    <div class="terms" id ="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        <label for="terms">Acepta <a href="#">términos y condiciones</a></label>
                    </div>
                    <div class="terms">
                        <input type="checkbox" name="newsletter" id="newsletter">
                        <label for="terms">¡Quiero suscribirme al newsletter!</label>
                    </div>
                </div>

                <div class="estilodiv center">
                    <input type="reset" value="Borrar" class="button">
                    <input type="submit" value="Registrarme" class="button">

                </div>


            </form>
            <div>
                <h4 class="iniciarsesion"><a href="/usuarios/ingresar">¿Ya tenés cuenta? Iniciá Sesión</a></h4>
            </div>
        </section>

                <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
                <figure class="banner-carrousel-bottom">
                    <img src="../img/banner-bottom.gif" alt="banner-bottom">
                </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    <script src="/js/register.js"></script>
    
</body>

</html>
